<main>
  <header>
    <h1>Revisions</h1>
    <h2>
      Active Revision: <span>{{active.id}}</span>
    </h2>
  </header>
  <section>
    <ul>
      <li>
        <div>
          Revision ID
        </div>
        <div>
          Created
        </div>
        <div>
        </div>
      </li>
      {{#each revisions as |revision|}}
        <li>
          <div>{{revision.id}}</div>
          <div>{{moment-from-now revision.mtime}}</div>
          <div>
            {{#if revision.active}}
              <button class="active" disabled=true>Active</button>
            {{else}}
              <button onclick={{action 'activateRevision' revision}}>Activate</button>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  </section>
</main>